img {
  max-width: 206px;
  border-radius: 20px;
  box-shadow: 8px 8px 6px -6px #26222D;
}

h1 {
  margin: 0
}

.table {
  background-color: #7A372A;
  display: flex;
  flex-direction: column;
  color: paleturquoise;
  font-family: 'Bubblegum Sans', cursive;
}

.title {
  align-self: center;
  font-size: 3em;
  margin-bottom: 0
}

.turn-update, .game-update {
  align-self: center;
}

.gameboard {
  display: flex;
  justify-content: space-around;
}

.player-one-deck, .player-two-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: paleturquoise;
  font-family: 'Bubblegum Sans', cursive;
}

.kitty-deck {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.player-one-wins, .player-two-wins {
  align-self: center;
  margin: 0px;
}

.player-name {
  margin-bottom: 5px;
}

.control-card {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D3D3D3;
  border-radius: 5px;
  box-shadow: 8px 8px 6px -6px #26222D;
  color: #2B2733;
  font-family: 'Shadows Into Light', cursive;
}

.control-instructions {
  margin-top: 0px;
}

.play-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D3D3D3;
  margin: 60px 300px;
  border-radius: 5px;
  box-shadow: 8px 8px 6px -6px #26222D;
  color: #2B2733;
  font-size: 1.5em;
  font-family: 'Shadows Into Light', cursive;
  padding: 10px;
}

.hidden {
  visibility: hidden;
}
